{% extends "base.html" %}
{%- block title -%}: {{entry.title}} {%- endblock %}
{%- block canonicalurl -%}{{entry.url}}{%- endblock %}
{% block hlhead %}
  <script defer src="/css/hl.js" onload="hljs.initHighlightingOnLoad();"></script>
{% include 'math.html' %}
{%- endblock %}

{% block header %}
{% include 'header-detail.html' %}
{%- endblock %}

{%- block post %}
  {% set curr = entry.url %}
  {% set total = entries | count %}
  <article>
  	<time datetime="{{ entry.year }}-{{ entry.month }}-{{ entry.day }}">{{ entry.pretty_date }}</time>
  	<h1><a href="/{{ entry.url }}">{{ entry.title }}</a></h1>
  	{{ entry.content }}
  </article>
  {% include 'nav.html' %}
{%- endblock %} {# end post #}