{% extends "base.html" %}
{%- block description -%}{{ site_author }} - {{ bio | title }}{%- endblock %}
{% block hlhead %}
  <link rel="alternate" type="application/json" title="{{ site_title }}" href="{{ site_url }}/notes.json">
  <noscript>
    <style>
      #myBtnContainer { display: none }
      .filterDiv {display: block}
    </style>
  </noscript>{#
  <script src="/css/dldiv.js"></script>#}
{%- endblock %}

{% block header %}
  {% include 'header.html' %}
{%- endblock %}

{%- block post %}
  {#{% include 'author.html' %}
  #}{% include 'notes_all.html' %}
{%- endblock %}

{% block footer %}
  {% include 'footer.html' %}
{%- endblock %}