{% extends "base.html" %}
{%- block description -%}{{ site_author }} - {{ bio | title }}{%- endblock %}
{% block hlhead %}
  <link rel="alternate" type="application/atom+xml" title="{{ site_title }}" href="/rss.xml" />
{%- endblock %}

{% block header %}
  {% include 'header.html' %}
{%- endblock %}

{%- block post %}
  {% include 'author.html' %}
  {% include 'notes_latest.html' %}
{%- endblock %}

{% block footer %}
  {% include 'footer.html' %}
{%- endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ckunte.net</title>
  <meta name="viewport" content="width=device-width">
  <link type="text/css" rel="stylesheet" href="/css/h.css" />
  <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon.png" />
  <link type="application/atom+xml" rel="alternate" title="ckunte.net" href="/rss.xml" />
</head>
<body>
  <main>
    <article>
      <p><a accesskey="/" href="/"><img alt="" src="/img/ckunte.png"></a></p>
      <p datetime="2022-03-20T14:30:00+08:00">
        <a accesskey="j" title="Note from Week 11, 2022." href="/w">To home and back</a>.
      </p>
    </article>
    <footer class="post">
      <span>Archive</span>
      <span>&copy; C Kunte</span>
    </footer>
  </main>
</body>
</html>