{% extends "base.html" %}
{%- block description -%}{{ site_author }} - {{ bio | title }}{%- endblock %}
{% block hlhead %}
  <link rel="alternate" type="application/atom+xml" title="{{ site_title }}" href="/rss.xml" />
  <script src="/css/dldiv.js"></script>
{%- endblock %}

{% block header %}
  {% include 'header.html' %}
{%- endblock %}

{%- block post %}
  {% include 'author.html' %}
  {% include 'notes_latest.html' %}
{%- endblock %}

{% block footer %}
  {% include 'footer.html' %}
{%- endblock %}