{# List all posts in archive #}
<article>
  {% from 'site_settings.jinja2' import site_title -%}
  <h2 class="head">
    <span>Notes</span>
    <span>
    <noscript>
      <p class="warn">
        For navigation by tags, please enable javascript support in web browser, and refresh.
      </p>
    </noscript>
    <!-- Control buttons -->
    <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('eng')">Engineer</button>
    <button class="btn" onclick="filterSelection('kit')">Tooling</button>
    <button class="btn" onclick="filterSelection('hst')">History</button>
    <button class="btn" onclick="filterSelection('all')">Show all</button>
    </div>
    </span>
  </h2>
  <dl class="two container">
  {%- for entry in entries %}
<div class="filterDiv {{ entry.tag | e }}">
  <dt><small>{{ loop.length - loop.index0 }}</small>&nbsp;<a{% if loop.index0 == 0 %} accesskey="j"{% endif %}{% if loop.length - loop.index0 == 1 %} accesskey="k"{% endif %} id="{{ loop.length - loop.index0 }}" href="/{{ entry.url }}">{{ entry.title | e }}</a><small> &sdot; {{ entry.content | wordcount // 300 + 1 }}min</small></dt>
  <dd>{{ entry.desc | e }}</dd>
</div>
  {%- endfor %}
  </dl>
</article>
<script src="/css/tags.js" integrity="sha384-Vi+kc2hu8pwlKS70TjZ8FmVvMJ1LSIcOP3eWMtvrFJbnq1ZaVQGj8JjAqdtKKKDS"></script>{# 
// Comment: 
// remember to update the above hash with the following bash command: 
    cat tags.js | openssl dgst -sha384 -binary | openssl base64 -A
#}