{% extends "base.html" %}
{% from 'site_settings.jinja2' import bio, site_url, projects, gists -%}
{%- block title %}: About{%- endblock %}
{%- block description -%}About this site, etc.{%- endblock %}
{%- block canonicalurl -%}about{%- endblock %}

{% block header %}
{% include 'header.html' %}
{%- endblock %}

{%- block post -%}
<article>
<h1>About</h1>
<time datetime="2021-02-14 12:05">About this site, etc.</time>

{% markdown %}

Hello. I am {{ site_author }}, an {{ bio }}, and producer of this personal, not-for-profit web site. Except for [GitHub][cg] and [LinkedIn][cl], I am not on social media, and any match there must be a namesake.

{#This domain exists mainly to be a pointer to MX records. I put the idling A record to use, mostly as an afterthought, which turned-on the lights here.#}Built with [Chisel][c1], this site respects [standards][ws], produces valid [HTML][v1], [CSS][v2], and [JSON][v3] mark-ups, and is [friendly] to phones and small screens. Keyboard navigation is available. On MacOS, press <kbd>ctrl</kbd> + <kbd>opt</kbd> + _key_ from the list below. On Linux and Windows, press <kbd>alt</kbd> + _key_.

Key          | Link         | Works on     
------------ | ------------ | -------------
<kbd>/</kbd> | Home         | All pages    
<kbd>a</kbd> | About        | Homepage      
<kbd>j</kbd> | Latest, Prev | - do -, Notes
<kbd>k</kbd> | First, Next  | - do -       

_Syndication._ [JSON][f1] feed channel is available to keep up with the latest published.

_Code._ All published code is pre-tested without exceptions, and follows [PEP 8]. Older snippets may contain [legacy python v2 code][p2]; these should still work. Most personal projects are in [repositories][gh] and in [gists][gs].

_Credits._ To Armin Ronacher and team for [Jinja]; David Zhou for [Chisel]; Guido van Rossum + community of volunteers for [python]; Ivan Sagalaev and team for [hl.js]; Linus Torvalds, Junio Hamano + community of volunteers for [git]; [GitHub] for hosting; Emily Eisenberg and Sophie Alpert for [KaTeX]; Manfred Stienstra, Yuri Takhteyev, and Waylan Limberg for [markdown in python].

_Privacy._ Visitors are not tracked. Also not serving ads, cookies, or trackers.

{#_TLS._ Transport layer security is available as an option, but not auto-redirected from http to https. This is by intent to enable low bandwidth users to make the best use of cache and help with speed-loading. To understand why, see [Roy Fielding's remark][rf].#}

<a id="t"></a>
_Disclaimer, Terms of use._ I do not speak for my employer. Be warned that the published material on this site has no warranty whatsoever. Please do not assume either its quality or correctness. If you use any of this in any way, then you do so at your own risk.

_Feedback._ This is a body of preoccupation outside of a full-time job. Expect bugs, errors, and omissions. [Feedback] is welcome.

[cg]: https://github.com/ckunte
[cl]: https://www.linkedin.com/in/ckunte
[c1]: https://github.com/ckunte/chisel/tree/ck
[Jinja]: https://palletsprojects.com/p/jinja/
[GitHub]: https://github.com/
[gh]: {{ projects }}
[gs]: {{ gists }}
[python]: http://www.python.org/
[hl.js]: https://highlightjs.org/
[KaTeX]: https://katex.org/
[git]: http://git-scm.com/
[markdown in python]: https://pypi.python.org/pypi/Markdown
[v1]: https://validator.w3.org/nu/?doc={{ site_url }}
[v2]: http://jigsaw.w3.org/css-validator/validator?uri={{ site_url }}
[v3]: https://validator.jsonfeed.org/?url={{ site_url }}/feed.json {#https://validator.w3.org/feed/check.cgi?url={{ site_url }}/rss.xml #}
[Chisel]: https://github.com/dz/chisel
[p2]: https://www.python.org/doc/sunset-python-2/
[rf]: https://www.ietf.org/mail-archive/web/ietf/current/msg93416.html "Re: Proposed Statement on HTTPS everywhere for the IETF"
[ws]: https://www.w3.org/standards/ "Standards - W3C"
[friendly]: https://alistapart.com/article/responsive-web-design/ "Responsive Web Design – A List Apart"
[f1]: {{ site_url }}/feed.json
[Feedback]: {{ projects }}/ckunte.github.io/issues
[PEP 8]: https://peps.python.org/pep-0008/
{% endmarkdown %}
</article>
{%- endblock %}

{% block footer %}
{% include 'footer_archive.html' %}
{%- endblock %}
