{% extends "base.html" %}
{% from 'site_settings.jinja2' import bio, site_url, projects, gists -%}
{%- block title %}: About{%- endblock %}
{%- block description -%}About this site, etc.{%- endblock %}
{%- block canonicalurl -%}about{%- endblock %}

{% block header %}
{% include 'header.html' %}
{%- endblock %}

{%- block post -%}
<article>
<h1>About</h1>
<time datetime="2023-06-30 23:33">About this site, etc.</time>

{% markdown %}

{#I am {{ site_author }}, an {{ bio }}. I am not on social media; any match there must be a namesake. (Exceptions: [GitHub][cg] and [LinkedIn][cl].)

#}This domain is mainly a pointer to MX records. I put the idling A record to use, as an afterthought, turning-on the lights here. Built with [Chisel][c1], this site respects [web standards][ws], produces valid [HTML][v1], [CSS][v2], and [JSON][v3] mark-ups, and is [friendly] to phones and small screens. Keyboard navigation is available. On macOS, press <kbd>ctrl</kbd> + <kbd>opt</kbd> + _key_ from the list below. On Linux and Windows, press <kbd>alt</kbd> + _key_.

Key          | Link         | Works on     
------------ | ------------ | -------------
<kbd>/</kbd> | Home         | All pages    
<kbd>a</kbd> | About        | Homepage      
<kbd>j</kbd> | Latest, Prev | - do -, Notes
<kbd>k</kbd> | First, Next  | - do -       

_Syndication._ [JSON][f1] feed channel is available to keep up with the latest published via feed readers like [NetNewsWire][nn] or [Reeder][re].

_Code._ All published code is pre-tested without exceptions, and follows [PEP 8]. Older snippets may contain [legacy python v2 code][p2]; these should still work. Most personal projects are in [repositories][gh] and in [gists][gs].

_Credits._ To Armin Ronacher for [Jinja]; David Zhou for [Chisel]; Guido van Rossum for [python]; Ivan Sagalaev for [hl.js]; Linus Torvalds and Junio Hamano for [git]; GitHub for hosting; Emily Eisenberg and Sophie Alpert for [KaTeX]; Manfred Stienstra, Yuri Takhteyev, and Waylan Limberg for [markdown in python].

_Privacy._ Visitors are not tracked. Not serving ads, cookies, or trackers either.

_TLS._ Transport layer security is available as an option. This is to assist low bandwidth users. See also [Roy Fielding's remark][rf].

<a id="t"></a>
_Disclaimer, Terms of use._ I do not speak for my employer. Be warned that the published material on this site has no warranty whatsoever. Please do not assume either its quality or correctness. If you use any of this in any way, then you do so at your own risk.

_Feedback._ This is a body of preoccupation outside of a full-time job. Expect bugs, errors, and omissions. Appreciate <feedback@ckunte.net>.

[cg]: https://github.com/ckunte
[cl]: https://www.linkedin.com/in/ckunte
[c1]: https://github.com/ckunte/chisel/tree/ck
[Jinja]: https://palletsprojects.com/p/jinja/
[gh]: {{ projects }}
[gs]: {{ gists }}
[python]: http://www.python.org/
[hl.js]: https://highlightjs.org/
[KaTeX]: https://katex.org/
[git]: http://git-scm.com/
[markdown in python]: https://pypi.python.org/pypi/Markdown
[v1]: https://validator.w3.org/nu/?doc={{ site_url }}
[v2]: http://jigsaw.w3.org/css-validator/validator?uri={{ site_url }}
[v3]: https://validator.jsonfeed.org/?url={{ site_url }}/feed.json {#https://validator.w3.org/feed/check.cgi?url={{ site_url }}/rss.xml #}
[Chisel]: https://github.com/dz/chisel
[p2]: https://www.python.org/doc/sunset-python-2/
[rf]: https://www.ietf.org/mail-archive/web/ietf/current/msg93416.html "Re: Proposed Statement on HTTPS everywhere for the IETF"
[ws]: https://www.w3.org/standards/ "Standards - W3C"
[friendly]: https://alistapart.com/article/responsive-web-design/ "Responsive Web Design – A List Apart"
[f1]: {{ site_url }}/feed.json
[PEP 8]: https://peps.python.org/pep-0008/
[nn]: https://netnewswire.com "NetNewsWire is a free and open source RSS reader for Mac, iPhone, and iPad"
[re]: https://reeder.app "REEDER - Your News Reader"
{% endmarkdown %}
</article>
{%- endblock %}

{% block footer %}
{% include 'footer_archive.html' %}
{%- endblock %}
