{% extends "base.html" %}
{%- block title -%}: Archive{%- endblock %}
{%- block description -%}This archive is offset by the latest on homepage.{%- endblock %}
{%- block canonicalurl -%}archive{%- endblock %}
{% from 'site_settings.jinja2' import latest -%}
{%- block hlhead -%}{%- endblock %}

{% block header %}
{% include 'header.html' %}
{%- endblock %}

{%- block post %}
<article>
<h1>Archive</h1>
<time datetime="2021-03-22 08:23">Since 2006</time>
{%- include 'notes_archive.html' %} {# Includes notes offset from the latest on homepage #}
</article>
{%- endblock %}

{% block footer %}
{% include 'footer_archive.html' %}
{%- endblock %}