{% extends "base.html" %}
{% from 'site_settings.jinja2' import latest, adisc, archive_name -%}
{%- block title -%}: {{ archive_name | title }}{%- endblock %}
{%- block description -%}{{ adisc }}{%- endblock %}
{%- block canonicalurl -%}{{ archive_name }}{%- endblock %}{#
{%- block hlhead -%}
<script src="/css/dldiv.js"></script>#}
{%- endblock %}#}

{% block header %}
{% include 'header.html' %}
{%- endblock %}

{%- block post %}
<article>
<h1>{{ archive_name | title }}</h1>
<time datetime="2021-03-22 08:23">{{ adisc }}</time>
{%- include 'notes_archive.html' %} {# Includes notes offset from the latest on homepage #}
</article>
{%- endblock %}

{% block footer %}
{% include 'footer_archive.html' %}
{%- endblock %}