{% from 'site_settings.jinja2' import site_title, site_url, site_author -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site_title }}{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="{{ site_author }}">
  <link rel="icon" href="data:,">
  <link rel="apple-touch-icon-precomposed" href="/incl/apple-touch-icon.png">
  {% block head %}{% endblock %}
</head>
<body>
  <main>
{%- block post -%}{%- endblock %}
  </main>
</body>
</html>