{% extends "base.html" %}
{%- block title -%}: {{entry.title}}{%- endblock %}
{%- block description -%}{{ entry.desc | e }} {{ entry.content | wordcount // 300 + 1 }} min.{%- endblock %}
{%- block canonicalurl -%}{{entry.url}}{%- endblock %}
{% block hlhead %}
  <script src="/css/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
{% include 'math.html' %}
{%- endblock %}

{% block header %}
{% include 'header.html' %}
{%- endblock %}

{%- block post %}
  {% set curr = entry.url %}
  {% set total = entries | count %}
  <article>
  	<h1>{{ entry.title | e }}</h1>
  	<time datetime="{{ entry.feed_date }}">{{ entry.pretty_date }}</time>
  	{{ entry.content }}
  </article>
  {% include 'nav.html' %}
{%- endblock %} {# end post #}