{% extends "base.html" %}
{%- block title -%}: {{entry.title}} {%- endblock %}
{%- block canonicalurl -%}{{entry.url}}{%- endblock %}
{% block hlhead %}
{% include 'hl.html' %}
{% include 'math.html' %}
{%- endblock %}

{% block header %}
{% include 'header.html' %}
{%- endblock %}

{%- block post %}
  {% set curr = entry.url %}
  {% set total = entries | count %}
  <article>
  	<h1>{{ entry.title | e }}</h1>
  	<time datetime="{{ entry.year }}-{{ entry.month }}-{{ entry.day }} {{ entry.hour }}:{{ entry.minute }}">{{ entry.pretty_date }}</time>
  	{{ entry.content }}
  </article>
  {% include 'nav.html' %}
{%- endblock %} {# end post #}