{% extends "base.html" %}
{% from 'site_settings.jinja2' import bio -%}
{%- block description -%}{{ site_author }} is {{ bio }}{%- endblock %}
{% block hlhead %}
{%- endblock %}

{% block header %}
{% include 'header.html' %}
{%- endblock %}

{%- block post %}
<article>
<p>
	Chetan is {{ bio }} <a href="/about">&rarr;</a>
</p>

{% include 'notes_latest.html' %} {# Includes only the latest on homepage #}
{#{% include 'notes_all.html' %}#} {# Includes all notes on homepage #}

</article>
{%- endblock %}

{% block footer %}
{% include 'footer.html' %}
{%- endblock %}