{% extends "base.html" %}
{% from 'site_settings.jinja2' import bio -%}
{%- block title %}: Making a difference{%- endblock %}
{%- block description -%}Sponsoring causes.{%- endblock %}
{%- block canonicalurl -%}about{%- endblock %}
{% block hlhead %}
  <script src="/css/dldiv.js"></script>
{%- endblock %}

{% block header %}
{% include 'header.html' %}
{%- endblock %}

{%- block post -%}
<article>
<h1>Making a difference</h1>
<time datetime="2021-08-01 13:02">Sponsoring causes</time>

{% markdown %}

Within our means, my family and I routinely heed calls to sponsor and lend support to causes concerning humanitarian, educational, medical, disaster relief, and open-source initiatives. We hope this list motivates you to do the same or better.

[Cancer Council NWS](https://www.cancercouncil.com.au) <small>&sdot; 2021</small>
: Sponsoring Cancer research via Rock the Chop &mdash; Gabby &amp; Julia.

[elementary.io](https://elementary.io) <small>&sdot; 2021</small>
: Sponsoring this wonderfully polished open-source operating system.

[Homebrew] <small>&sdot; 2020,21</small>
: Sponsoring the missing package manager for MacOS (or Linux).

[Khan Academy] <small>&sdot; 2020,21</small>
: Sponsoring to support the unprecedented demand during COVID-19.

[Krzysztof Kowalczyk](https://github.com/kjk) <small>&sdot; 2021</small>
: Sponsoring the work on the amazing open source SumatraPDF reader.

[NeoVim](https://neovim.io) <small>&sdot; 2021</small>
: Sponsoring the production of the awesome open source text editor.

[Pi-hole] <small>&sdot; 2020,21</small>
: Sponsoring the production of pi-hole that helps protect privacy on-line.

[TUG] <small>&sdot; 2020,21</small>
: Sponsoring the maintenance and production of MacTeX.

[Australian Red Cross](https://www.redcross.org.au) <small>&sdot; 2020</small>
: Towards the 2019-20 Australian bush fires relief fund.

[Movember Foundation](https://au.movember.com) <small>&sdot; 2019</small>
: Sponsoring to support men's mental health in Australia.

[SOS Children's Villages India] <small>&sdot; 2015,17</small>
: Sponsoring care and education of a rural child.

[Narayana Hrudayalaya](https://www.narayanahealth.org) <small>&sdot; 2016</small>
: Sponsoring free medical treatment of the under-privileged.

[David Zhou](https://github.com/dz) <small>&sdot; 2013</small>
: Sponsoring Chisel, his creation for static site generation.

[GPG Tools](https://gpgtools.org/) <small>&sdot; 2013</small>
: Sponsoring to protect privacy with strong easy-to-use encryption tools.

[MathJax](https://www.mathjax.org) <small>&sdot; 2013</small>
: Sponsoring to have beautiful and accessible math in all browsers.

[Donncha O Caoimh](https://profiles.wordpress.org/donncha/) <small>&sdot; 2009</small>
: Sponsoring his amazing WP Super Cache plug-in for WordPress.

[Cyberduck](https://cyberduck.io) <small>&sdot; 2008</small>
: Sponsoring the production of SFTP freeware.

Education for Change <small>&sdot; 2008</small>
: Sponsoring a unique girl-school in India.

[PPES](https://pardadapardadi.org) <small>&sdot; 2008</small>
: Sponsoring menstrual health initiatives of under-privileged children.

[Ubuntu](https://ubuntu.com/) <small>&sdot; 2008</small>
: Sponsoring the free and open source operating system.

[GNOME Foundation](https://foundation.gnome.org) <small>&sdot; 2008</small>
: Sponsoring to improve open source computing efforts.

[American Red Cross](https://www.redcross.org) <small>&sdot; 2005</small>
: Towards the 2005 Kashmir earthquake relief fund.

[International Red Cross](https://www.icrc.org/en) <small>&sdot; 2005</small>
: Towards the 2004 Southeast Asian tsunami relief fund.

[WordPress](https://wordpress.org) <small>&sdot; 2005</small>
: Sponsoring the maintenance of the open source publishing system.

[CRY] <small>&sdot; 2002,4,6,7,10</small>
: Sponsoring education of a rural girl child in India.

[Homebrew]: https://brew.sh
[TUG]: https://tug.org
[CRY]: https://cry.org/
[Khan Academy]: https://www.khanacademy.org
[SOS Children's Villages India]: http://www.soschildrensvillages.in
[Pi-hole]: https://pi-hole.net

{% endmarkdown %}
</article>
{%- endblock %}

{% block footer %}
{% include 'footer_archive.html' %}
{%- endblock %}
