# Site settings

# Site name
{%- set site_title = "Chetan Kunte" -%}

# Site url (end without /)
{%- set site_url = "https://ckunte.net" -%}

# Author
{%- set site_author = "Chetan Kunte" -%}

# Bio
{%- set bio = "offshore structures engineer" -%}

# Archive description

{%- set archive_name = "archive" -%}

{%- set adisc = "Since 2006" -%}

# Number of posts on homepage
{% set latest = 18 -%}

# Projects URL
{% set projects = "https://github.com/ckunte" -%}
{% set gists = "https://gist.github.com/ckunte" -%}

# Last post
{% set last = 1 -%}
