# Site settings

# Site name
{%- set site_title = "ckunte.net" -%}

# Site url (end without /)
{%- set site_url = "https://ckunte.net" -%}

# Author
{%- set site_author = "Chetan Kunte" -%}

# Bio
{%- set bio = "an offshore structures engineer, and this little website is his sandbox. Here he loves to code, experiment, and write." -%}

# Number of posts on homepage
{% set latest = 10 -%}

# Projects URL
{% set my_proj = "https://github.com/ckunte" -%}

# Last post
{% set last = 1 -%}
