{% extends "base.html" %}
{% block title %}: weeknotes{% endblock %}
{%- block head -%}
  <link type="text/css" rel="stylesheet" href="/incl/w.css">
  <link rel="alternate" type="application/json" title="{{ site_title }}" href="/feed.json">
  <script src="/incl/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>  
{%- endblock %}
{%- block post %}
    <header>
      <a accesskey="/" href="/w"><img class="logo" alt="{{ site_title }}" src="/incl/apple-touch-icon.webp"></a>
    </header>
{%- for entry in entries %}
    <article id="{{ entry.epoch|int }}">
      <time datetime="{{ entry.feed_date }}">{{ (entry.year|string)[-2:] }}W{{ entry.week }}</time>
      <h1>{{ entry.title }}</h1>
  {%- filter indent(width=4) %}
  {{ entry.content }}
  {%- endfilter %}
    </article>
{%- endfor %}
{%- filter indent(width=2) %}
  <footer>
    <span><a accesskey="j" title="Home" href="/">&larr;</a></span>
  </footer>
{%- endfilter %}
{%- endblock %}