{% from 'site_settings.jinja2' import site_title, site_url -%}
{% extends "base.html" %}
{% block title %}{% endblock %}
{%- block post %}
  <header>
    <a accesskey="/" href="/"><img class="logo" alt="{{ site_title }}" src="/img/apple-touch-icon.png"></a>
  </header>
{%- for entry in entries %}
  <article id="{{ entry.epoch | int }}">
    <h1>{{ entry.title }}</h1>
    <time datetime="{{ entry.feed_date }}">{{ (entry.year|string)[-2:] }}W{{ entry.week }}</time>
{%- filter indent(width=4) %}
{{ entry.content }}
{%- endfilter %}
  </article>
{%- endfor %}
{%- filter indent(width=2) %}
{% include "footer.html" %}
{%- endfilter %}
{%- endblock %}