<!DOCTYPE html>
<html lang="en">
<head>
  {% from 'site_settings.jinja2' import site_title, site_author, my_projects -%}
  <meta charset="utf-8" />
  <title>{{ site_title }}{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="author" content="{{ site_author }}" />
  <link rel="canonical" href="/{%block canonicalurl %}{% endblock %}" />
  <link rel="stylesheet" media="screen" href="/css/vanilla.css" type="text/css" />
  <link rel=alternate type="application/json" title="{{ site_title }}" href="/feed.json" />  
  <link rel="alternate" type="application/rss+xml" title="{{ site_title }}" href="/rss.xml" />{#
  <script src="/css/m.js"></script>#}
  
  {%- block hlhead -%}{%- endblock %}
</head>
<body>
  <main>
    {%- block header -%}{%- endblock %}
    {%- block post -%}{%- endblock %}
    {%- block footer -%}{%- endblock %}
  </main>
  {% include 'footerscript.html' %}
</body>
</html>