{% extends "base.html" %}
{%- block title %}: Professional biography{%- endblock %}
{%- block canonicalurl -%}bio{%- endblock %}
{%- block header -%}{%- endblock %}
{%- block post -%}
    <article>
        <time>Professional</time>
        {% markdown %}
            ## Biography

            Chetan Kunte is an offshore structures engineer at __RDS__. His professional areas of interest include structural mechanics, hydrodynamics, fatigue, and offshore geotechnics in applications ranging from fixed and floating steel structures, hulls and ship-shaped vessels, turrets and mooring systems, tendons and risers, fenders, dolphins and jetties.

            He enjoys cycling, nonfiction literature, and programming in python.

            ### Appointments held

            <table>
              <tr>
                <th>2016-</th>
                <td>Senior Engineer Offshore and Marine Structures</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td>TA2<sup>1</sup> + PTE<sup>2</sup> for Fixed Offshore Structures</td>
              </tr>
              <tr>
                <th>2012-15</th>
                <td>Senior Engineer and Team Lead</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td>TA2 for Fixed Offshore Structures</td>            
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td>TA2 for Mobile Offshore Drilling Units &ndash; Jackups</td>
              </tr>
              <tr>
                <th>2006-11</th>
                <td>Senior Engineer</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td>TA2 for Fixed Offshore Structures</td>            
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td>TA3 for Turret-mooring</td>
              </tr>
              <tr>
                <th>2000-06</th>
                <td>Senior Engineer and Lead, Technip</td>
              </tr>
              <tr>
                <th>1996-00</th>
                <td>Engineer, John Brown</td>
              </tr>
              <tr>
                <th>1995-96</th>
                <td>Junior Engineer, Gammon India</td>
              </tr>
              <tr>
                <th>1995</th>
                <td>Engineer, AEC</td>
              </tr>
            </table>

            ### Honors and recognitions

            <table>
              <tr>
                <th>2013</th>
                <td>Service recognition award for engineering and execution of two low cost 26" conductor repairs at a platform in F23 field.</td>
              </tr>
              <tr>
                <th>2012</th>
                <td>Recognition for mitigating eight lift safety critical welding joints in E8K and F13K compression modules — 1,800t each for SMEP.</td>
              </tr>
              <tr>
                <th>2010</th>
                <td>Recognition for developing a technically feasible 1,100m and 1,700m deep mooring concepts for harsh environment flng in Carnarvon basin, and for polyester mooring rope qualification philosophy developed for the largest yet — in size (278mm diameter) and in tension (2,500t) for SDA.</td>
              </tr>
              <tr>
                <th>2009</th>
                <td>Recognition for developing technically robust pre-DG3 FLNG turret-mooring concepts for Prelude and Sunrise opportunities for EP Projects.</td>
              </tr>
              <tr>
                <th>2005</th>
                <td>Recognition for developing and designing Kikeh topsides for the <a href="/2015/reactions">catamaran tow</a> for Murphy Oil Malaysia.</td>
              </tr>
              <tr>
                <th>2001</th>
                <td>Recognition for the optimized design of Bintang A and B platforms for ExxonMobil Malaysia.</td>
              </tr>
              <tr>
                <th>2000</th>
                <td>Recognition for assessing platform foundation reliability from well-blowout event at a platform, Unocal Thailand.</td>
              </tr>
            </table>

            ### Select technical notes[^3]

            <table>
              <tr>
                <th>2017</th>
                <td>Feasibility of a <a href="https://en.wikipedia.org/wiki/Spar_buoy">spar buoy</a> as a remote flare host &mdash; employing <a href="https://en.wikipedia.org/wiki/Smoothed-particle_hydrodynamics">SPH</a> &mdash; for continuous drilling in the middle-east.</td>
              </tr>
              <tr>
                <th>2016</th>
                <td>Evaluation of breasting dolphin capacities to pushover from berthing, cell fender compatibility, accidental impact check on loading platform.</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td>Development of a lean power gen. module for SEIC to withstand blast overpressures, and improving constructibility.</td>
              </tr>
              <tr>
                <th>2015</th>
                <td><a href="/2013/tow">Barge motion responses in South China Sea</a>, demonstrating severity over North Sea.</td>
              </tr>
              <tr>
                <th>2014</th>
                <td>Feasibility of a platform offshore Sabah from suspected seafloor seepage, structural integrity assessment, recommendations.</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td>Structural integrity assessment of LQ platform on account of inherent design complications.</td>
              </tr>
              <tr>
                <th>2013</th>
                <td>Design corrosion allowances in fixed offshore structures.</td>
              </tr>
              <tr>
                <th>2011</th>
                <td>Turret size optimization, for demonstrating competitiveness, and flexibility for FLNG.</td>
              </tr>
              <tr>
                <th>2010</th>
                <td>Evaluation and mooring system optimization for Prelude FLNG.</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td>Mooring polyester rope qualification philosophy for 2,500t tension, harsh environment.</td>
              </tr>
              <tr>
                <th>2009</th>
                <td>Shell FLSO concept, turret mooring and riser feasibility in benign environment.</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td>Generic FLNG mooring and hybrid riser tower design &mdash; feasibility deepwater offshore Brazil in benign environment.</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td>Generic FLNG mooring and hybrid riser tower design for harsher, deepwater environment.</td>
              </tr>
              <tr>
                <th>2008</th>
                <td>Response-based approach to global ice loads assessment &mdash; for gravity based arctic structures.</td>
              </tr>
            </table>

            ### Voluntary work

            - [__OTC Asia 2016__](http://2016.otcasia.org/Content/COMMITTEES/1_16/): Reinvited to participate as an ASCE sub-committee member, for developing technical topics and sessions, review and rank paper abstracts.
            - [__OTC Asia 2014__](http://2014.otcasia.org/pages/about/committee.php): Participated as an ASCE sub-committee member upon invitation; volunteered for developing technical topics and sessions, reviewed and ranked paper abstracts.

            ### Professional memberships

            - Member, [American Society of Mechanical Engineers][asme]
            - Associate Member, [The Royal Institution of Naval Architects][rina]

            ### Education (Karnatak University)

            - 1993-95: M.Eng., Structural Engineering. Graduated with honors
            - 1989-93: B.Eng., Civil Engineering. Graduated with honors

            ### Elsewhere

            - [Code][c] and [snippets][s] on GitHub
            - [Paper(s)][r] on ResearchGate
            - [Presentation(s)][v] on SpeakerDeck
            - [Profile][l] on LinkedIn

            [^1]: Technical authority level 2.
            [^2]: Principal Technical Expert.
            [^3]: Some titles and descriptions are sanitized for business sensitivity.

            [c]: https://github.com/ckunte "Code, side projects by ckunte"
            [k]: http://www.kud.ac.in/
            [r]: http://www.researchgate.net/profile/Chyetanya_Kunte
            [s]: https://gist.github.com/ckunte
            [v]: https://speakerdeck.com/ckunte
            [l]: https://www.linkedin.com/in/ckunte
            [asme]: https://www.asme.org/ "The American Society of Mechanical Engineers"
            [rina]: http://www.rina.org.uk "The Royal Institution of Naval Architects"
            [rds]: https://www.shell.com
        {% endmarkdown %}
    </div>
{%- endblock %}
{% block footer %}
<footer>
  <p>
    <a href="/">Home</a> &bull; 
    <a href="/about#t">Terms of use</a>
  </p>
</footer>
{%- endblock %}