# Site settings

# Site name
{%- set site_title = "ckunte.net" -%}

# Site url (end without /)
{%- set site_url = "https://ckunte.net" -%}

# Author
{%- set site_author = "Chetan Kunte" -%}

# Author's email
{%- set site_author_email = "log+2020@ckunte.net (Chetan Kunte)" -%}

# Number of posts on homepage
{% set latest = 8 -%}

# Projects URL
{% set my_projects = "https://github.com/ckunte" -%}

# Last post
{% set last = 1 -%}
