<section id="notes">
<h2>notes</h2>
<p>
{%- for entry in entries %}
{%- if loop.last %} and {%- endif %}
{#<small>{{ loop.length - loop.index0 }}</small>&nbsp;#}<a{% if loop.index0 == 0 %} accesskey="j"{% endif %}{% if loop.length - loop.index0 == latest %} accesskey="k"{% endif %} title="{{ entry.nice_date }}. {{ entry.content | wordcount // 250 + 1 }} min (No. {{ loop.length - loop.index0 }})" href="/{{ entry.url }}">{{ entry.title | e }}</a>{%- if not loop.last %}, {%- endif %}{%- endfor %}. Get <a href="/feed.json">JSON feed</a> for the latest. <i>Navigate with <kbd>Alt</kbd><kbd>&nbsp;j</kbd> (Prev or Latest), <kbd>Alt</kbd><kbd>&nbsp;k</kbd> (Next or Earliest), <kbd>Alt</kbd><kbd>&nbsp;/</kbd> (Home). (Mac users, swap <kbd>Alt</kbd> with <kbd>&nbsp;^</kbd><kbd>&#8997;</kbd>.)</i></p>
</section>