<h1>{{ site_author }}</h1>
<span class="desc">{{ site_desc|title }}</span>

{% markdown %}
I am a 53-year old [engineer] interested in mechanics, hydrodynamics, and open-source software. This site hosts my side <a title="Personal side projects" accesskey="p" href="#proj">projects</a>{# and <a title="Personal notes ({{entries | length}} to-date)" accesskey="n" href="#notes">notes</a>#}.

[engineer]: https://www.linkedin.com/in/ckunte "My professional profile on LinkedIn"
{% endmarkdown %}