{%- set dob_month = 3 -%}
{%- set dob_year = 1972 -%}

<h1>{{ site_author }}</h1>
<time>{{ site_desc|title }}</time>

{% markdown %}
I am a {{ dob_month|age(dob_year) }}-year old [engineer][l] interested in mechanics, hydrodynamics, and open source software. This website is a host for my [projects] and <a title="Personal notes" accesskey="p" href="#notes">notes</a>.

[l]: https://www.linkedin.com/in/ckunte "My professional profile on LinkedIn"
[u]: https://github.com/ckunte/ckunte/blob/master/uses.md "My personalised open source software setup"
[projects]: https://github.com/ckunte/ckunte/blob/master/proj.md "Personal side projects"
{% endmarkdown %}