{% extends "base.j2" %}
{%- block title %}: {{ entry.title }}{%- endblock %}
{%- block og %}{# Open Graph #}
<meta name="description" content="{{ entry.content|striptags|truncate(100) }}">
<script src="/inc/code-math.js" integrity="sha384-xT8wN8NCeuamUQtBjQWvwc7dCGAT89VKkZR5MVAcr18p99euBN7VZVb0NH07+lYA"></script>
{%- endblock %}
{%- block post %}
  {%- set curr = entry.url %}
  {%- set total = entries | count %}	
<article>
<h1>{{ entry.title | e }}</h1>
<time datetime="{{ entry.feed_date }}">
{{ entry.nice_date }} &sdot;  
{{ entry.content | wordcount // 250 + 1 }} min read{#
<a title="Permalink to '{{ entry.title | e }}'" href="/{{ entry.url }}">#</a>
#}</time>
{{ entry.content }}
</article>
{% include 'nav.j2' %}
{%- endblock %}
{# cat home.css | openssl dgst -sha384 -binary | openssl base64 -A #}