{% extends "base.j2" %}
{% from 'sitesettings.j2' import latest -%}
{%- block title %}{%- endblock %}
{%- block feed %}
<link rel="alternate" type="application/feed+json" title="JSON feed" href="{{ site_url }}/feed.json" />
{%- endblock %}
{%- block og %} {# Open Graph #}
<meta name="description" content="{{ site_author }}'s homepage" />
{%- endblock %}
{%- block post %}
{#{% include 'latest.j2' %}#}
{% include 'bio.j2' %}
{% include 'archive.j2' %}
<footer>
  <span>&nbsp;</span>
  <span>&copy; C Kunt&eacute;</span>
</footer>
{% endblock %}
{%- block rent %}
<div id="r">
{% include 'rent.md' %}
</div>
{%- endblock %}{# 
  cat home.css | openssl dgst -sha384 -binary | openssl base64 -A
#}