# Site settings

# Site name
{%- set site_title = "notmyself" -%}

# Site url (end without /)
{%- set site_url = "https://notmyself.net" -%}

# Author
{%- set site_author = ck -%}

# Site description
{%- set site_desc = "notes" -%}