# Site settings

# Site name
{%- set site_title = "C Kunte" -%}

# Site url (end without /)
{%- set site_url = "https://ckunte.net" -%}

# Author
{%- set site_author = "C Kunte" -%}

# Site description
{%- set site_desc = "Weeknotes" -%}