# Site settings

# Site name
{%- set site_title = "C Kunte" -%}

# Site url (end without /)
{%- set site_url = "https://ckunte.github.io" -%}

# Author
{%- set site_author = site_title -%}

# Site description
{%- set site_desc = "Notes" -%}